@import "./variables.css";
@import "./components/button.css";

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.25;
  font-family: var(--font-body);
  height: 100%;
  min-height: 100vh;
}

::selection {
  background-color: var(--color-notify);
}

.hydrated {
  display: block;
}

.page {
    width: calc(100% - 24px);
    max-width: 1080px;
    margin: 0 auto;
    padding: 64px 12px 128px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
  font-weight: 700;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}