.page.notfound {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    overflow: hidden;
}

.notfound h2 {
    font-size: 1.5em;
    font-family: var(--font-body);
    font-style: normal;
    font-weight: normal;
    margin: 0;
}

.notfound img {
    display: block;
    width: 50vw;
    max-width: 256px;
    margin: 0 auto;
    margin-top: 72px;
}

.notfound stencil-route-link {
    margin-top: 36px;
}