.notfound {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 64px 12px 128px;

    text-align: center;
}

.notfound h1,
.notfound h3 {
    font-style: normal;
    font-weight: normal;
    margin: 0;
}

.notfound h1 {
    font-size: 3em;
    color: rgba(0,0,0,0.54);
}

.notfound h3 {
    font-size: 1.5em;
}