.notfound {
    text-align: center;
}

.notfound h1,
.notfound h3 {
    font-style: normal;
    font-weight: normal;
    margin: 0;
}

.notfound h1 {
    margin-top: 64px;
    font-size: 3em;
    color: rgba(0,0,0,0.54);
}

.notfound h3 {
    font-size: 1.5em;
}