.page.docs {
    padding-left: 0; 
    padding-right: 0;
}
.docs {
    display: block;
}

.docs .icon {
    width: 24px;
    height: 24px;
}
.docs .icon path {
    fill: currentColor;
}

.docs aside {
    position: absolute;
    width: 67vw;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #34383c;
    color: white;
    padding-top: 56px;
    transform: translateX(-67vw);
    transition: transform 200ms cubic-bezier(0.23, 1, 0.320, 1);
}

.docs nav {
    margin-top: 1.83em;
}

.docs article {
    padding: 0;
    transition: transform 200ms cubic-bezier(0.23, 1, 0.320, 1);
    color: #686f79;
    line-height: 1.5;
}

.docs article h1,
.docs article h2,
.docs article h3,
.docs article h4,
.docs article h5,
.docs article h6 {
     color: #34383c;
}

.menu-is-open .docs aside {
    transform: translateX(0);
}
.menu-is-open .docs article {
    transform: translateX(67vw);
}

#menu-button {
    margin-left: -12px;
}

@media (min-width: 640px) {

    #menu-button { display: none; }
    
    .page.docs {
        max-width: 1080px;
        display: grid;
        grid-template-columns: 240px minmax(auto, 700px);
        grid-gap: 12px;
    }

    .docs aside {
        position: unset;
        width: 240px;
        height: 100%;
        padding-top: 0;
        transform: translateX(0);
        grid-column: 1;
        background-color: transparent;
        color: black;
    }

    .docs article {
        grid-column: 2;
        max-width: 700px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .docs article h1,
    .docs article h2,
    .docs article h3,
    .docs article h4,
    .docs article h5,
    .docs article h6,
    .docs article p,
    .docs article ul,
    .docs article ol {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .menu-is-open .docs aside,
    .menu-is-open .docs article {
        transform: translateX(0);
    }
}